DATABASE_URL=postgresql+asyncpg://user:password@db:5432/mydb
TEST_DATABASE_URL=postgresql+asyncpg://user:password@db_test:5432/testdb

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb

GRAFANA_PASSWORD=admin
SECRET_KEY=change-me-to-a-random-secret-key
